body {
    text-align: left;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width: 17%;
}

.column.middle {
    width: 17%;
}

.column.middle2 {
    width: 25%;
}

.column.right {
    width: 25%;
    float: right;
}

.game:after {
    content: "";
    display: table;
    clear: both;
}

.column.rl {
    width: 70%;
}

.column.rr {
    width: 25%;
    float: right;
}

.column.right:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    color: black;
}

.contentGame {
    background-color: white;
    position: relative;
    width: 100%;
    overflow: auto;
    height: -webkit-fill-available;
}

.form {
    position: relative;
    width: 60%;
    text-align: left;
    left: 20%;
    overflow: auto;
}

.techButton {
    width: 150%;
}

/*.payButton {
    
}*/
