body {
    text-align: left;
    margin: 0;
}

.container {
    width: 100%;
    position: relative;
    background-color: white;
    top: 0;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
}

h1 {
    display: initial;
    font-size: 200%;
    height: auto;
    font-weight: bold;
}

#navigation {
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    background-color: white;
    height: 100%;
}

ul.nav {
    list-style-type: none;
    background-color: lightgray;
    margin: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 0px;
}

ul li.navLi {
    display: inline-block;
    margin-right: -6px;
    width: 10%;
    font-size: small;
}

li a {
    text-decoration: none;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

li a:hover{
    background-color: black;
    color: white;
}

a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.content {
    left: 20%;
    background-color: white;
    position: relative;
    width: 60%;
    overflow: auto;
    height: -webkit-fill-available;
}

h3 {
    text-align: left;
    color: black;
    padding-left: 10px;
    font-size: inherit;
    font-weight: 200;
}

.footer {
    background-color: black;
    position: sticky;
    width: 100%;
    height: 15%;
    bottom: 0;
}

.form {
    background-color: lightgrey;
    position: relative;
    width: 60%;
    height: -webkit-fill-available;
    text-align: left;
    left: 20%;
    overflow: auto;
}

#about{
    margin-top: 50px;
}

.bio {
    width: 738px;
    height: 300px;
    float: none;
}

.responsive {
    width: 100%;
    max-width: 150px;
    height: auto;
    float: left;
    margin: 4px 6px 0 6px;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 10px;
    background-color:lightgray;
    overflow-x: hidden;
    padding: 8px 0;
    border: 2px solid black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: white;
}

h6 {
    text-align: left;
    color: white;
    padding-left: 10px;
    font-size: x-large;
    margin-top: 5px;
}
