body {
    text-align: left;
    margin: 0;
}

.container {
    width: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    height: 150px;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
}

#navigation {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: white;
    height: 45px;
}

ul {
    list-style-type: none;
    background-color: white;
    margin: auto;
    overflow: hidden;
    height: 30px;
    margin-top: 7.5px;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-right: -4px;
}

li a {
        text-decoration: none;
        border-left: 2px solid black;
        border-right: 2px solid black;
}

li a:hover{
    background-color: white;
    color: black;
}

a {
    display: block;
    padding: 10px; 
    color: black;

}

.footer {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
}
h2{
    text-align: left;
    color: white;
    padding-left: 10px;
}